#indice-leyendas {
   list-style-type: none;
}

#item-link {
    
}

#imagen-item-link {
    
}

#imagen-item-link img{
    width: 200px;
    height: 150px;
}


#contenido-item-link {
    
}

#imagen-item {
    text-align: center;
}

#imagen-item img{
    width: 600px;
}


