{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Leyenda de Ícaro</h1>
{% endblock encabezado %}


{% block contenido %}

<section>
    <a href="{% url 'leyenda:indice' %}">Índice</a>
</section>

<p>En la <a href="/wiki/Mitolog%C3%ADa_griega" title="Mitología griega">mitología griega</a>, <b>Ícaro</b> (en <a href="/wiki/Griego_antiguo" title="">griego antiguo</a> Ἴκαρος <i>Ikaros</i>) es hijo del arquitecto <a href="/wiki/D%C3%A9dalo" title="Dédalo">Dédalo</a>, constructor del <a href="/wiki/Laberinto_de_Creta" title="Laberinto de Creta">laberinto de Creta</a>, y de una esclava llamada <a href="/wiki/N%C3%A1ucrate" title="Náucrate">Náucrate</a>.<sup id="cite_ref-1" class="reference separada"><a href="#cite_note-1"><span class="corchete-llamada">[</span>1<span class="corchete-llamada">]</span></a></sup>​ 
</p><p>Ícaro estaba retenido junto a su padre, Dédalo, en la isla de <a href="/wiki/Creta" title="Creta">Creta</a> por el rey de la isla, llamado <a href="/wiki/Minos" title="Minos">Minos</a>.
</p><p>Dédalo decidió escapar de la isla en secreto, pero dado que Minos controlaba las aguas y la tierra , Dédalo se puso a trabajar para fabricar alas para él y su joven hijo, Ícaro. Enlazó plumas entre sí uniendo con hilo las plumas centrales y con cera las laterales, y le dio al conjunto la suave curvatura de las alas de un pájaro. Ícaro a veces corría a recoger del suelo las plumas que el viento se había llevado o ablandaba la cera.
</p><p>Cuando al fin terminó el trabajo, Dédalo batió sus alas y se halló subiendo y suspendido en el aire. Equipó entonces a su hijo de la misma manera, y le enseñó cómo volar. Cuando ambos estuvieron preparados para volar, Dédalo advirtió a Ícaro que no volase demasiado alto porque el calor del sol derretiría la cera, ni demasiado bajo porque la espuma del mar mojaría las alas y no podría volar. 
</p><p>Pasaron las islas de <a href="/wiki/Samos" title="Samos">Samos</a>, <a href="/wiki/Delos" title="Delos">Delos</a>, <a href="/wiki/Paros" title="Paros">Paros</a>, <a href="/wiki/Lebintos" class="mw-redirect" title="Lebintos">Lebintos</a> y <a href="/wiki/Calimna" class="mw-redirect" title="Calimna">Calimna</a>, entonces el muchacho comenzó a ascender. El ardiente sol ablandó la cera que mantenía unidas las plumas y estas se despegaron. Ícaro agitó sus brazos, pero no quedaban suficientes plumas para sostenerlo en el aire y cayó al mar. Su padre lloró y lamentando amargamente sus artes, y, en su memoria, llamó <a href="/wiki/Icaria" title="Icaria">Icaria</a> a la tierra cercana al lugar del mar en el que Ícaro había caído.<sup id="cite_ref-2" class="reference separada"><a href="#cite_note-2"><span class="corchete-llamada">[</span>2<span class="corchete-llamada">]</span></a></sup>​
</p><p>Dédalo llegó sano y salvo a <a href="/wiki/Sicilia" title="Sicilia">Sicilia</a>, donde quedó bajo la protección del rey <a href="/wiki/C%C3%B3calo" title="Cócalo">Cócalo</a>.<sup id="cite_ref-3" class="reference separada"><a href="#cite_note-3"><span class="corchete-llamada">[</span>3<span class="corchete-llamada">]</span></a></sup>​ Allí construyó un templo a <a href="/wiki/Apolo" title="Apolo">Apolo</a> en el que colgó sus alas como ofrenda al dios.
</p><p><a href="/wiki/Pausanias_(ge%C3%B3grafo)" title="Pausanias (geógrafo)">Pausanias</a> cuenta una versión más prosaica en la que ambos huían de <a href="/wiki/Creta" title="Creta">Creta</a> en pequeñas barcas, para lo cual Dédalo inventa el principio de la <a href="/wiki/Vela_(n%C3%A1utica)" title="Vela (náutica)">vela</a>, desconocido hasta entonces para los hombres. Ícaro, navegante torpe, naufragó frente a la costa de Samos, en cuyas orillas se encontró su cuerpo. <a href="/wiki/Heracles" title="Heracles">Heracles</a> le dio sepultura en esa tierra, que desde entonces se llama Icaria, y el mar que está junto a ella recibió el nombre de <a href="/w/index.php?title=Mar_Icario&amp;action=edit&amp;redlink=1" class="new" title="Mar Icario (aún no redactado)">mar Icario</a>.<sup id="cite_ref-4" class="reference separada"><a href="#cite_note-4"><span class="corchete-llamada">[</span>4<span class="corchete-llamada">]</span></a></sup>​
</p>
{% endblock contenido %}
