{% extends "leyenda/base_app.dj.html" %}

{% block encabezado %}
<h1>Índice de leyendas sobre laberintos</h1>
{% endblock encabezado %}


{% block contenido %}
<ul id="indice-leyendas">
    {% for leyenda in leyendas %}
    <li>
        {% include 'leyenda/item_link.dj.html' %}
    </li>
    {% endfor %}
</ul>
{% endblock contenido %}
