{% load static %}

<div id="item-link" class="pure-g">
    <!-- imagen del contenido -->
    <div
        id="imagen-item-link"
        class="pure-u-8-24"
    >
        <figure>
            <a
                href="{% url 'leyenda:nombre' leyenda.slug %}"
            >
            <img
                class="pure-img"
                src="{{MEDIA_URL}}{{leyenda.imagen}}"
            >
            </a>
        </figure>
    </div>
    <!-- contenido texto -->
    <div
        id="contenido-item-link"
        class="pure-u-16-24"
    >
        <h4>{{leyenda.titulo}}</h4>
        <section>
            <p>{{leyenda.resumen}}</p>
        </section>
        <a
            href="{% url 'leyenda:nombre' leyenda.slug %}"
        >
            ver
        </a>
    </div>
</div>
