{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Leyenda de Ícaro</h1>
{% endblock encabezado %}


{% block contenido %}

<section>
    <a href="{% url 'leyenda:indice' %}">Índice</a>
</section>


<p>El <b>Minotauro</b> (del griego Μινώταυρος [<i>Minótauros</i>]) es un <a href="/wiki/Monstruo" title="Monstruo">monstruo</a> mitológico de la <a href="/wiki/Mitolog%C3%ADa_griega" title="">mitología griega</a>, con cuerpo de hombre y cabeza de <a href="/wiki/Bos_primigenius_taurus" title="Bos primigenius taurus">toro</a>. Su nombre significa "Toro de <a href="/wiki/Minos" title="Minos">Minos</a>", y era hijo de <a href="/wiki/Pas%C3%ADfae" title="Pasífae">Pasífae</a> y el <a href="/wiki/Toro_de_Creta" title="Toro de Creta">Toro de Creta</a>. Fue encerrado en un <a href="/wiki/Laberinto_de_Creta" title="Laberinto de Creta">laberinto</a> diseñado por el artesano <a href="/wiki/D%C3%A9dalo" title="Dédalo">Dédalo</a>, hecho expresamente para retenerlo,<sup id="cite_ref-1" class="reference separada"><a href="#cite_note-1"><span class="corchete-llamada">[</span>1<span class="corchete-llamada">]</span></a></sup>​ ubicado en la ciudad de <a href="/wiki/Cnosos" title="Cnosos">Cnosos</a> en la isla de <a href="/wiki/Creta" title="Creta">Creta</a>. Durante muchos años, siete hombres y otras siete mujeres eran llevados al laberinto como sacrificio para ser el alimento de la bestia hasta que la vida de este terminó en manos del héroe <a href="/wiki/Teseo" title="Teseo">Teseo</a>. Los catorce jóvenes eran internados en el laberinto, donde vagaban perdidos hasta ser encontrados por el Minotauro. El <a href="/wiki/Mito" title="Mito">mito</a> tiene su versión más completa en la <i><a href="/wiki/Biblioteca_mitol%C3%B3gica" title="Biblioteca mitológica">Biblioteca mitológica</a></i> de <a href="/wiki/Apolodoro_de_Atenas" title="Apolodoro de Atenas">Apolodoro</a>.

{% endblock contenido %}
