{% extends "leyenda/base_app.dj.html" %}

{% block encabezado %}
<h1>{{leyenda.titulo}}</h1>
{% endblock encabezado %}


{% block contenido %}
<figure id="imagen-item">
    <img
        src="{{MEDIA_URL}}{{leyenda.imagen}}"
    >
</figure>
<section>
    <a href="{% url 'leyenda:indice' %}">Índice</a>
</section>
{{leyenda.texto|safe}}
{% endblock contenido %}
